[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = ">=4.4.0"
pycryptodome = "*"
pyinstaller = ">=5.1"

[dev-packages]

[requires]
python_version = ">=3.10"
